
.myButton {
  margin-bottom: 2rem;
}

.madeBy {
  color: white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #112F41;
  text-align: center;
  font-size: 90%;
  margin-top: 2rem;
}
